.idea/
*.iml
build/
target/

*.log

# React sources are built with make build-react, and copied to the web folder.
src/main/resources/web/

# Google credentials are secret
src/main/resources/client_secret*