@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: oswold, open-sans, sans-serif;
  color: white;
  background-color: black;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  .clear: both;
}

.row,
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
}

.column-1 {
  width: 8.33333333333%;
}

.column-2 {
  width: 16.6666666667%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.3333333333%;
}

.column-5 {
  width: 41.6666666667%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.3333333333%;
}

.column-8 {
  width: 66.6666666667%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.3333333333%;
}

.column-11 {
  width: 91.6666666667%;
}

.column-12 {
  width: 100%;
}
