.schedule-day {
    padding-bottom: 2rem;
}

.column-schedule-all {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.column-schedule-event {
    width: 80%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.column-schedule-time {
    text-align: right;
    padding-right: 1rem;
    width: 20%;
}
